<h1>Data</h1>
<h2 class="text-center">Bom</h2>
</br>
<div><button onClick="history.go(0)" type="button" class="btn btn-success btn-block">Last updated: <%= @most_recent%></button></div>
</br>
 
<table class="table-striped table-hover table" width=100%>
  <tr>
    <th>Location</th>
    <th>Temp(deg celsius)</th>
    <th>Dew Point (deg celsius)</th>
    <th>Rainfall (mm since 9am)</th>
    <th>Wind Direction (bearing)</th>
    <th>Wind Speed (kph)</th>
  </tr>
 
<% @weather_bom.each do |data| %>
  <tr>
    <td><%= data[0] %></td>
    <td><%= data[1][0] %></td>
    <td><%= data[1][1] %></td>
    <td><%= data[1][2] %></td>
    <td><%= data[1][3] %></td>
    <td><%= data[1][4] %></td>
  </tr>
<% end %>
</table>
</br>
<h2 class="text-center">Forecast_io</h2>
</br>
 
<table class="table-striped table-hover table" width=100%>
  <tr>
    <th>Location</th>
    <th>Temp(deg celsius)</th>
    <th>Dew Point (deg celsius)</th>
    <th>Rainfall (mm since 9am)</th>
    <th>Wind Direction (bearing)</th>
    <th>Wind Speed (kph)</th>
  </tr>
 
<% @weather_fcio.each do |data| %>
  <tr>
    <td><%= data[0] %></td>
    <td><%= data[1][0] %></td>
    <td><%= data[1][1] %></td>
    <td><%= data[1][2] %></td>
    <td><%= data[1][3] %></td>
    <td><%= data[1][4] %></td>
  </tr>
<% end %>
</table>
</br>
