<%= form_for(@observation) do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rain_since_9am %><br>
    <%= f.text_field :rain_since_9am %>
  </div>
  <div class="field">
    <%= f.label :temp %><br>
    <%= f.text_field :temp %>
  </div>
  <div class="field">
    <%= f.label :dewpoint %><br>
    <%= f.text_field :dewpoint %>
  </div>
  <div class="field">
    <%= f.label :wind_dir %><br>
    <%= f.text_field :wind_dir %>
  </div>
  <div class="field">
    <%= f.label :wind_spd_kph %><br>
    <%= f.number_field :wind_spd_kph %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
